.site-header{
    background: #fffffe;
    max-width: 100%;
}
.logo-size{
    text-align: center;
    padding-top: 10px;
}

.navbar-nav{
    font-size: 2em;
    font-family: 'Lexend', sans-serif;
    color: #50C878;
    margin-top: 0;
}

.page-section-title{
    font-family: 'Dosis', sans-serif;
    justify-content: center;
}

.page-section-text{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    padding: 5px;
    
  
}

#Contact{
    font-size: 2.5em;
}

@media (max-width: 640px)
{
    width: 300px;
}

#container-contact{
    width: 750px;
}

@media (max-width){
    #container-contact
    {
        width: auto;
    }
}

#container-form{
    margin-bottom: 50px;
    width: 750px;
}


@media (max-width: 640px) 
{
    #container-form
    {
        width: 400px;
    }
}

@media (max-width: 640px)
{
    .images{
        width: 350px;
        height: 300px;
    }
}


/*--Footer--*/
.page-footer{
    background-color: #50C878;
    font-family: 'Lexend', sans-serif;
    font-size: 1.2em;
}
    
    
.layout-social .layout-icon{
    font-size: 3em;
    text-align: center;
    justify-content: center;
}
    
ul.social{
    display:block;
    margin: 5% 0;
    list-style-type: none;
    text-align: center;
}
ul.social li{
    font-size: 1em;
    display:inline;
    padding: 0 2%;
}
ul.social li a{
    color:#666;
}    

    
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}