.site-header{
    background: #fffffe;
}

.logo-size{
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 640px)
{
    .logo-size
    {
        width: 414px;
    }
}

.navbar-nav{
    font-size: 2em;
    font-family: 'Lexend', sans-serif;
    color: #50C878;
}

.page-section-title{
    font-family: 'Dosis', sans-serif;
    justify-content: center;
}

.page-section-text{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    text-align: center;
}


.container-environment{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #50C878; 
}

.page-section-title-environment{
    font-family: 'Dosis', sans-serif;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    font-size: 2.5em;
}

.page-section-text-environment{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
#environment{
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 640px)
{
    #myTitle
    {
        margin-top: 40px;
    }
    
    #myText
    {
        margin-top: 15px;
    }
}



.verticalLine {
    border-left: thick solid #fff;
    margin: 20px;
    
}

#myLine{
    display: block;
}

@media (max-width: 640px) 
{
    #myLine
    {
        display: none;
    }
}


/*--Footer--*/
.page-footer{
    background-color: #50C878;
    font-family: 'Lexend', sans-serif;
    font-size: 1.2em;
}
    
    
.layout-social .layout-icon{
    font-size: 3em;
    text-align: center;
    justify-content: center;
}
    
ul.social{
    display:block;
    margin: 5% 0;
    list-style-type: none;
    text-align: center;
}
ul.social li{
    font-size: 1em;
    display:inline;
    padding: 0 2%;
}
ul.social li a{
    color:#666;
}    

    
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}